<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" media="screen and (max-width: 400px)" href="/css/registerPhone.css">
    <style>
        :root {
            --utama: #85586F;
            --cadangan: #DEB6AB;
            --bg: #F8ECD1;
        }

        body {
            background: var(--bg);
            height: 100vh;
        }
        
        #particles-js {
            margin: 0;
            padding: 0;
            height: 95%;
            width: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 10;
        }
    </style>
</head>

<body class="container-fluid">
    <div class="row justify-content-center h-100">

        <div id="particles-js"></div>

        <!-- head -->
        <div id="header" class="row p-0" style="height:10vh;">
            <nav class="navbar navbar-expand-xl text-light navbar-dark" style="background-color: var(--utama); z-index: 12;">
                <div class="container-fluid p-0">
                    <a class="navbar-brand text-light" style="cursor: default;">
                        <h3 class="m-0" style="padding: 8px">Canteen</h3>
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link active text-light" aria-current="page" href="/">Home</a>
                            </li>

                            <li th:if="${name}" class="nav-item">
                                <a class="nav-link text-light" href="/createProduct">Create Product</a>
                            </li>

                            <li th:unless="${name}" class="nav-item">
                                <a class="nav-link text-light" href="/login">Log in</a>
                            </li>

                            <li th:if="${name}" class="nav-item">
                                <a class="nav-link text-light" href="/balanceBox">Balance Box</a>
                            </li>

                            <li th:unless="${name}" class="nav-item"
                                style="background-color: var(--cadangan); border-radius: 5px">
                                <a class="nav-link text-dark" style="cursor: default;">Sign up</a>
                            </li>
                        </ul>
                        <div style="border-right: 2px solid white; height: 100%" class="me-2" id="pointer">
                          <a class="typewrite navbar-brand text-light" data-period="1000" style="width: 8rem; text-align: right;"
                            data-type='["hi","ହ i","hai","хаи","하이","海","ハイ","привет","ਹੈ","هاي","ហៃ","ไห่"]'>
                            <span class="wrap m-0" style="padding: 8px;"></span>
                          </a>
                        </div>   
                        <form th:if="${name}" class="d-flex">
                            <h5 class="me-4 d-flex align-items-center mb-0" th:text="${name}"></h5>
                            <a class="btn btn-danger btn-md me-3" href="/logout" role="button"> Log Out </a>
                        </form>
                    </div>
                </div>
            </nav>
            <div th:if="${error!=null}" class="alert alert-danger" role="alert" th:text="${error}"></div>
        </div>
        <!-- head -->

        <!-- main -->
        <div id="main" style="width:100%"
            class="row row-cols-1 row-cols-xl-3 p-0 m-0 d-flex align-items-center justify-content-around">
            <img class="col p-0" style="width:250px; aspect-ratio: 1; z-index: 0; z-index: 11;" src="/images/logo.png" alt="SD SEA Sentosa Logo" id="koin">
            <div id="garis" class="col p-0" style="height:50vh; width:1px; background-color: black;"></div>

            <form class="col w-50" th:action="@{/register}" th:object="${accountDto}" method="post" style=" z-index: 11;">
                <div class="input-group mb-2">
                    <span style="white-space: normal; text-align: start; background-color: var(--utama);"
                        class="input-group-text w-25 text-light" id="basic-addon1">Student's ID
                    </span>
                    <input th:field="*{sid}" type="text" class="form-control" placeholder=" "
                        aria-describedby="basic-addon1" required maxlength="5">
                </div>
                <div class="input-group mb-2">
                    <span style="white-space: normal; text-align: start; background-color: var(--utama)"
                        class="input-group-text w-25 text-light" id="basic-addon2">First name
                    </span>
                    <input th:field="*{firstName}" type="text" class="form-control" placeholder=" "
                        aria-describedby="basic-addon2" required maxlength="127">
                </div>
                <div class="input-group mb-2">
                    <span style="white-space: normal; text-align: start; background-color: var(--utama)" ;
                        class="input-group-text w-25 text-light" id="basic-addon3">Last name
                    </span>
                    <input th:field="*{lastName}" type="text" class="form-control" placeholder=" "
                        aria-describedby="basic-addon3" maxlength="127">
                </div>
                <div class="input-group mb-2">
                    <span class="input-group-text w-25 text-light" style="background-color: var(--utama);"
                        id="basic-addon4">Password</span>
                    <input th:field="*{password}" type="text" class="form-control" placeholder=" "
                        aria-describedby="basic-addon4" required maxlength="127">
                </div>
                <div>
                    Already have an account?
                    <a style="text-decoration: none; color:var(--utama)" href="/login">
                        <b>Login</b>
                    </a>
                </div>

                <span class="d-flex flex-column ">
                    <div class="d-flex my-3 w-100 justify-content-center">
                        <button id="register" style="width:40%; background-color: var(--utama);" type="submit"
                            class="btn border-0 text-light">
                            Register
                        </button>
                    </div>
                    <div class="d-flex w-100 justify-content-center">
                        <a id="continueAsGuest" href="/" style="width:40%;">
                            <button type="button" style="background-color: var(--cadangan);" class="w-100 btn border-0">
                                Continue As Guest
                            </button>
                        </a>
                    </div>
                </span>
            </form>
        </div>
        <!-- main -->

        <!-- footer -->
        <div id="footer" class="row d-flex p-0 m-0" style="align-items:flex-end; z-index:12">
            <div class="m-0 p-0" style="background-color: var(--utama)">
                <div class="d-flex flex-column align-items-center justify-content-center p-0" style="height:10vh;">
                    <ul class="nav justify-content-center">
                        <li class="nav-item">
                            <a href="https://mail.google.com/mail/?view=cm&fs=1&to=evan.aurelrius@ui.ac.id&su=Hii"
                                class="nav-link px-2 text-light">evan.aurelrius@ui.ac.id</a>
                        </li>
                        <li class="nav-item">
                            <a href="https://wa.me/6285271321514" class="nav-link px-2 text-light">0852-7132-1514</a>
                        </li>
                        <li class="nav-item">
                            <a href="https://www.instagram.com/evanaurelrius/"
                                class="nav-link px-2 text-light">@evanaurelrius</a>
                        </li>
                    </ul>
                    <div class="w-50" style="border-top: 1px solid white"></div>
                    <p class="text-center text-light m-0">
                        © Mahasiswa Fasilkom Universitas Indonesia 2020
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="/js/particles.js"></script>
<script src="/js/app.js"></script>
<script src="/js/bootstrap.js"></script>
<script src="/js/script.js"></script>

</html>